:root {
  --headerColor: #576f72;
  --textColor: #fff7d4;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 5rem;
  background-color: var(--headerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin-bottom: 10px;
}

.logo {
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo-container:active {

}

.nav {
  flex-grow: 1;
  margin-top: 0;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  margin-bottom: 0;
}

nav a, nav .nav-link {
  margin-right: 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav a:hover,
nav a.active,
.nav-link:hover,
.nav-link.active {
  color: rgb(241, 213, 56);
  background-color: var(--headerColor);
}

.text-header {
  margin-right: 30px;
  color: var(--textColor);
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
}


@media (max-width: 500px) {
  .header {
    height: 6rem; /* Adjust height for smaller screens */
  }

  .nav {
    font-size: 1rem;
  }

  .logo {
    height: 60px; /* Adjust logo size for smaller screens */
  }

  .text-header{
    display: none;
  }
}
